a:hover {
    color: white;
    text-decoration: underline;
  }

.bg-gray {
    background-color: #d9e6e9;
}

.bg-teal {
    background-color: #1f98ad;
}

body {
    font-family: helvetica;
}

.btn-link {
    color: #1f98ad;
}

.btn-link:hover {
    color: #1f98ad;
    text-decoration: underline;
}

.carousel-inner {
    border-radius: 5px;
    background-color: #d9e6e9;
    overflow: hidden;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    display: flex;
  }

.text-blue {
    color: #1f98ad;
}

.jumbotron {
    background-image: url('../pictures/cover.jpg');
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
}

.navbar {
    background-color: #1f98adda;
}
