.bg-primary {
    background-color: #1f98ad;
}

body {
    font-family: helvetica;
}

.dark-heading {
    color: #1f98ad;
}

.jumbotron {
    background-image: url('../pictures/cover.jpg');
    background-size: cover;
}
