a:hover {
    color: #1f98ad;
    text-decoration: underline;
  }

.bg-gray {
    background-color: #d9e6e9;
}

.bg-teal {
    background-color: #1f98ad;
}

body {
    font-family: helvetica;
}

.btn-link {
    color: #1f98ad;
}

.btn-link:hover {
    color: #1f98ad;
    text-decoration: underline;
}

.carousel-inner {
    border-radius: 5px;
    background-color: #d9e6e9;
    overflow: hidden;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

.jumbotron {
    background-image: url('../pictures/cover.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 20%;
    padding-bottom: 20%;
}

.know {
    background-image: url('../pictures/mountain3.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-position: center;
    background-attachment: fixed;
}

.row {
    display: flex;
  }

.text-teal {
    color: #1f98ad;
}

.navbar {
    background-color: #1f98adda;
}
